

.wrapper {
    position: absolute;
    left: 47%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    border: 1px solid #ccc;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 198px;
}

td {
    width: 200px;
}
tr {
    padding-top: 10px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/** Tabs Module **/
.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    cursor: pointer;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
.ellipsis;
    background-color: lightskyblue;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
    transition: 0.3s;
    margin: 2px;
}

.tabs button:hover {
    background-color: lightsteelblue;
}

/* Create an active/current tablink class */
.tabs button.active {
    background-color: steelblue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}
